.titleWrap {
  position: relative;
  margin-bottom: 2rem;
  margin-left: -2rem;

  & .title {
    display: inline-block;
    text-align: left;
    margin: 0;
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--textNormal);
    z-index: 1;
  }

  & .tape {
    top: 4rem;
    left: 2rem;
    position: absolute;
    width: 10rem;
    height: 1.2rem;
    background: var(--primary);
    opacity: 0.8;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
}

@media screen and (max-width: 860px) {
  .titleWrap {
    margin-left: 0;
  }
}
