.introduce {
  & .subTitle {
    line-height: 1;
    margin: 0 0 0.8rem;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--textNormal);
    text-align: left;
  }
  & .position {
    margin: 0;
    font-size: 1.3rem;
    color: var(--textNormal);
    text-align: left;
    margin-bottom: 2rem;
  }
  & .contact {
    font-size: 1rem;
    text-align: right;
    font-weight: bold;
    color: var(--textNormal);
  }

  & .primary {
    color: var(--primary);
  }

  & .description {
    line-height: 1.5;
    font-size: 1rem;
    color: var(--textWeak);
    word-break: keep-all;
    margin: 0 0 2rem 0;
  }

  & .contact {
    margin: 0;

    & a {
      margin-right: 1.5rem;

      &:last-child {
        margin: 0;
      }
    }
  }
}
