@media screen and (max-width: 1300px) {
  .toc-wrap {
    display: none;
  }
}
.toc-wrap {
  position: absolute;
  width: 240px;
  margin-left: 800px;

  .toc-head {
    font-size: 1.1em;
    color: var(--primary);
  }
  ol {
    margin: 0;
    padding: 0;
    max-height: 70vh;
    overflow: scroll;
  }
  .toc {
    line-height: 1.5;
    font-size: 0.8em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 6px 10px 6px 0;

    &.toc-depth-2 {
      margin-bottom: 4px;
    }
    &.toc-depth-3 {
      margin-left: 10px;
      padding-left: 10px;
      // border-left: 2px solid rgb(233, 236, 239);
    }

    a {
      color: var(--textWeak);
      text-decoration: none;

      &:hover {
        color: var(--primary);
      }
      &.active {
        color: var(--primary);
      }
    }
  }
}
