.experience {
  & .exp {
    margin-bottom: 3rem;

    & .subTitle {
      text-align: center;
      line-height: 1;
      margin: 0 0 0.8rem;
      font-weight: bold;
      font-size: 1.7rem;
      color: var(--textNormal);
    }

    & .term {
      font-size: 1.1rem;
      color: var(--textNormal);
      margin-bottom: 3rem;
      text-align: center;
    }

    & .description {
      margin: 0 0 1rem 0;
      color: var(--textNormal);
      line-height: 1.8;
      font-size: 1rem;
    }

    & .review {
      margin: 0;
      font-size: 1rem;
      color: var(--textNormal);
      line-height: 1.8;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
