@import './variables';

@mixin labeling {
  background-color: var(--label-bg);
  color: var(--textNormal);
  padding: 3px 10px;
  border-radius: 4px;
}

@mixin card {
  background-color: var(--bg);
  transition: $transition-duration $transition-function;
  // box-shadow: 0 0 4px 0 var(--card-box-shadow);
  color: var(--textTitle);

  .card-title {

    .card-title-icon {
      display: inline-flex;
      color: inherit;
      font-size: 13px;
      margin-right: 8px;
    }
  }

  .card-description {
    color: var(--textNormal);
    font-size: 14px;
  }
}

@mixin link {
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  color: var(--textTitle);
  transition: $transition-duration $transition-function;

  &:hover, &:focus {
    color: var(--primary);
  }
}

@mixin highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(114, 172, 255, 0.41) 50%);
}

@mixin forMobile {
  @media screen and (max-width: $mobile-upper-boundary - 1) {
    @content
  }
}

@mixin forTablet {
  @media screen and (min-width: $mobile-upper-boundary) and (max-width: $tablet-upper-boundary - 1) {
    @content
  }
}

@mixin forToc {
  @media screen and (max-width: 1230px) {
    @content
  }
}

@mixin forDesktop2 {
  @media screen and (min-width: 1230px) {
    @content
  }
}

@mixin forDesktop3 {
  @media screen and (min-width: 1600px) {
    @content
  }
}
