@import './../styles/mixins';

.footer-wrap {
  text-align: center;
  margin-top: 30px;
  color: var(--textWeak);
  line-height: 150%;

  a {
    color: var(--textWeak);

    &:hover {
      color: var(--primary);
    }
  }
}
