.skills {
  & .skill {
    margin-bottom: 3rem;

    & .skillGroupName {
      line-height: 1;
      font-weight: bold;
      font-size: 1.7rem;
      color: var(--textNormal);
      margin-bottom: 1rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
