@import '../../styles/variables';
@import '../../styles/mixins';

.gnb {
  width: 100%;
  min-height: 90px;
  background-color: transparent;
  margin-bottom: 20px;

  .inner-gnb {
    width: 100%;

    .title-wrap {
      @include card();
      text-align: left;
      color: var(--primary);
      font-size: 2rem;
      position: relative;
      font-weight: bold;

      a {
        text-decoration: none;
      }
    }
    .category-wrap {
      a {
        font-size: 1.2rem;
        font-weight: bold;

        @include link();
        @include card();
      }
      a + a {
        margin-left: 15px;
      }
    }
  }
}
