.career {
  & .title {
    text-align: left;
    margin: 0;
    line-height: 1.7rem;
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--textNormal);
  }

  & .subTitle {
    line-height: 1;
    margin: 0 0 2rem;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    color: var(--textNormal);
  }
  & .position {
    font-size: 1.2rem;
    color: var(--textNormal);
  }
  & .term {
    font-size: 1rem;
    color: var(--textWeak);
  }

  & .product {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--textNormal);
    margin-bottom: 1rem;
  }

  & .description {
    font-size: 1rem;
    color: var(--textNormal);
    line-height: 1.8;
    word-break: keep-all;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .project {
    padding-bottom: 5rem;

    &:last-child {
      padding-bottom: 2rem;
    }

    & .projectName {
      font-weight: bold;
      font-size: 1.5rem;
      color: var(--textNormal);
    }
    & .time {
      font-size: 1rem;
      color: var(--textWeak);
      margin-bottom: 1rem;
    }
    & .description {
      margin: 0 0 1rem 0;
      color: var(--textNormal);
      font-size: 1rem;
      line-height: 1.8;
    }
    & .detailGroup {
      margin: 0 0 1rem 0;
      padding: 0 0 0 1rem;
      list-style: none;

      & .detail {
        color: var(--textNormal);
        line-height: 2;

        &:before {
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          background: var(--primary);
          border-radius: 50%;
          margin-right: 0.8rem;
          position: relative;
          top: -4px;
        }
      }
    }
    & .tech {
      display: inline-flex;
      align-items: center;
      margin: 0 1rem 0.4rem 0;
      border: 1px solid var(--textNormal);
      font-size: 1rem;
      color: var(--textNormal);
      border-radius: 4px;
      min-height: 32px;
      padding: 0 0.8rem;
    }
  }
}
