.likes {
  & .like {
    margin-bottom: 3rem;

    & .likeName {
      line-height: 1;
      font-weight: bold;
      font-size: 1.7rem;
      color: var(--textNormal);
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
