.profile-card {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .profile-image {
      background: url('/heecheolman-profile.jpeg') center center;
      background-size: 130px;
      width: 100px;
      height: 100px;
      border-radius: 120px;
    }
  }

  .body {
    width: 100%;

    p {
      text-align: center;
      font-size: 1rem;
      line-height: 1.8;
      color: var(--textNormal);
    }

    .reference {
      font-weight: bold;
      text-align: right;
    }
  }
}
