@import '../../styles/mixins';

.profile-card {
  @include card();

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .profile-image {
      background: url('/heecheolman-profile.jpeg') center center;
      background-size: 130px;
      width: 100px;
      height: 100px;
      border-radius: 120px;
    }
  }

  .body {
    width: 100%;

    p {
      max-width: 500px;
      margin: 20px auto;
      font-size: 0.9rem;
      line-height: 1.5;
      color: var(--textNormal);
    }

    .reference {
      text-align: right;
    }
  }
}
